<a href="https://colab.research.google.com/github/shaum09/Python/blob/dev/Python_103.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas

In [3]:
import pandas as pd
df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})
df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [4]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [ ]:
#save a dataframe to a csv file
df.to_csv("file.csv")